<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Title
      <br>
      <input type="text" formControlName="tittle">
    </label>
  </div>
  <div *ngIf="postForm.get('tittle').invalid && postForm.get('tittle').touched" style="color: red">
  </div>
  <div>
    <label>
      Content
      <br>
      <textarea formControlName="content" cols="30" rows="10"></textarea>
    </label>
  </div>
  <div *ngIf="postForm.get('content').invalid && postForm.get('content').touched" style="color: red">
  </div>
  <div>
    <label>
      Image
      <br>
      <textarea formControlName="image" type="text"></textarea>
    </label>
  </div>
  <div *ngIf="postForm.get('image').invalid && postForm.get('image').touched" style="color: red">
  </div>
  <div>
    <label>
      Youtube
      <br>
      <textarea formControlName="linkYoutube" type="text"></textarea>
    </label>
  </div>
  <div *ngIf="postForm.get('linkYoutube').invalid && postForm.get('linkYoutube').touched" style="color: red">
  </div>

  <button type="submit">Submit</button>
</form>
