<div class="container">
  <div class="media" *ngFor="let item of output; index as i">
      <table>
        <div class="media-left media-middle">
          <a [routerLink]="['/blog', item.id]">
            <img class="media-object" src="{{item.image}}" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h3 class="media-heading"><a [routerLink]="['/blog', item.id]">{{item.tittle}}</a></h3>
          <p>{{item.content}}</p>
        </div>
      </table>
    <div class="row">
      <div class="col-sm-10"></div>
      <div class="col-sm-2">
        <a class="btn btn-primary" [routerLink]="['/edit', item.id]">Sửa</a>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-default" (click)="deleteContent(item.id)" role="button">Xóa</button>
      </div>
    </div>
  </div>
</div>

