img {
  height: 200px;
  width: 250px;
  border-radius: 3px;
  margin-top: 10px;
}
.container{
  background-color: whitesmoke;
  margin-top: 5px;
  border-radius: 5px;
}
.bt{
  margin-right: 0;
}
.media-heading {
  margin-top: 20px;
}

