<div class="container">
  <div class="media" *ngFor="let item of output; index as i">
    <div class="media-left media-middle">
      <a [routerLink]="['/blog', item.id]">
        <img class="media-object" src="{{item.image}}" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h3 class="media-heading"><a [routerLink]="['/blog', item.id]">{{item.tittle}}</a></h3>
      <p>{{item.content}}</p>
    </div>
    <div class="row">
      <div class="col-sm-10"></div>
      <div class="col-sm-2">
        <a class="btn btn-primary" role="button">Sửa</a>&nbsp;&nbsp;&nbsp;<a class="btn btn-default" role="button">Xóa</a>
      </div>
    </div>
  </div>
</div>

<!--<table border="1px">-->
<!--  <tr>-->
<!--    <td>Title</td>-->
<!--    <td>Content</td>-->
<!--    <td>Image</td>-->
<!--    <td colspan="2">-->
<!--  </tr>-->
<!--  <tr *ngFor=" item of output; index as i">-->
<!--    <td>{{item.tittle}}</td>-->
<!--    <td>{{item.content}}</td>-->
<!--    <td><img src="{{item.image}}" alt=""></td>-->
<!--    <button (click)="infoContent(i)">view</button>-->
<!--    <button>edit</button>-->
<!--    <button (click)="deleteContent(i)">delete</button>-->
<!--  </tr>-->
<!--</table>-->
